name: CI

on:
  push:
    branches: [ main, feature/* ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-test:
    #runs-on: ubuntu-latest
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Java 24
      uses: actions/setup-java@v4
      with:
        java-version: '24'
        distribution: 'zulu'
        cache: 'maven'
          
    - name: Configure Maven for GitHub Packages
      run: |
        mkdir -p ~/.m2
        echo "<settings><servers><server><id>github</id><username>\${env.GITHUB_ACTOR}</username><password>\${env.GITHUB_TOKEN}</password></server></servers></settings>" > ~/.m2/settings.xml
        
    - name: Run tests and build
      run: ./mvnw --no-transfer-progress --batch-mode --update-snapshots package
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
    - name: Upload test results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: test-results
        path: |
          **/target/surefire-reports/*.xml
          **/target/failsafe-reports/*.xml
        retention-days: 7